{
  "presets": [
    "gatsby"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "react-use",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      }
    ]
  ]
}
