---
import { Badge, Button } from "react-daisyui";

import { Counter } from "../components/Counter";
import BaseLayout from "../layouts/BaseLayout.astro";

const titsle3 = "whatever";

const foo = { bar: 1, baz: 2 };

const { bar } = foo;
---

<BaseLayout>
  <h1 class="text-lg">
    <span>
      Astrso
      <Badge>1</Badge>
    </span>
  </h1>
  <div>{titsle3}</div>
  <div>{bar}</div>
  <Counter client:visible />
  <Button tag="a" href="/posts">Go to blog</Button>
</BaseLayout>
