---
import { Counter } from "../components/Counter";

export const titsle3 = "whatever";

const foo = { bar: 123, baz: 456 };

const { baz } = foo;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div>{titsle3}</div>
    <Counter client:visible />
  </body>
</html>
