---
import { Counter } from "../components/Counter";
import BaseLayout from "../layouts/BaseLayout.astro";

const titsle3 = "whatever";

const foo = { bar: 1, baz: 2 };

const { bar } = foo;
---

<BaseLayout>
  <h1>Astrso</h1>
  <div>{titsle3}</div>
  <div>{bar}</div>
  <Counter client:visible />
</BaseLayout>
