.tb-app {
  background-image: url('/assets/awesome.svg');
  background-size: 120%;
  background-position: center bottom;
  background-repeat: no-repeat;
  .tb-app-header {
    h1 {
      padding: 0.75em 2rem;
      color: @gray-lighter;
      text-shadow: 2px 2px 1px @gray-darkest;
    }
    h4 {
      padding: 1em 2rem;
      border-top: 2px solid @gray-darker;
      border-bottom: 2px solid @gray-darker;
      position: relative;
      span {
        padding: 1em 0;
        &:nth-child(2), &:nth-child(4) {
          position: relative;
          &:before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -2px;
          }
        }
        &:nth-child(2) {
          color: @red;
          &:before {
            background-color: @red;
          }
        }
        &:nth-child(4) {
          color: @blue;
          &:before {
            background-color: @blue;
          }
        }
      }
    }
  }
  .tb-app-content {
    padding: 2rem;
    padding-right: 50%;
    @media @tablet {
      padding-right: 2rem;
    }
    > h5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1em;
      &:after {
        content: '';
        flex-grow: 1;
        height: 2px;
        margin-left: 1rem;
        background-color: @gray-darker;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      li {
        margin: 1em 0;
        h5 {
          margin-bottom: 0.2em;
          color: @green;
        }
        h6 {
          margin: 0;
          color: @gray;
          &:before {
            content: '// ';
          }
        }
      }
    }
  }
}
