@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import (less) '../node_modules/normalize-css/normalize.css';
@import './variables';

@import './components/app';

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  box-sizing: border-box;
  font-family: @font-family-sans-serif;
  color: @gray-darkest;
}
